body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  background-color: #efefef;
}

.container {
  width: 1024px;
  margin: auto;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: #393c6c;
}

h2 {
  color: #f3735f;
  font-size: 30px;
  padding-top: 50px;
  padding-bottom: 20px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: #393c6c;
}

/* HEADER */

header {
  background-color: #fff;
  border-bottom: 1px solid #f3735f;
  height: 80px;
}

header img {
  width: 208px;
  margin-top: 20px;
}

/* MAIN */

section {
  background-color: #fff;
  padding: 60px 20px;
  border-radius: 20px;
  margin-top: 60px;
}

p {
  line-height: 22px;
  padding-bottom: 20px;
}

.baseline {
  line-height: 40px;
  font-size: 13px;
  text-align: center;
}

.time {
  background-color: #8a98b1;
  width: 400px;
  height: 45px;
  margin: auto;
  border-radius: 20px;
}

.time p {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  padding: 10px 0;
}

.pictures {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pictures img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

ul {
  list-style: disc;
  margin-left: 20px;
  line-height: 20px;
}

li {
  color: #6c6c6c;
}

/* FOOTER */

footer {
  height: 100px;
}

footer p {
  text-align: center;
  font-size: 14px;
  line-height: 70px;
}
